.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f6f8;
  
}

.login-box {
  width: 400px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: #b50000;
  border-radius: 8px;
  border-color: #b50000;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 4px;
}

.btn {
  width: 100%;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #b50000;
}

.btn-primary {
  background-color: #b50000;
  border-color: #b50000;
}

.btn-primary:hover {
  background-color: #006ba0;
  border-color: #006ba0;
}
.login_logo{
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-top: 10px;
}
 .login_logo>h1{
    display: flex;
    margin-top: 0px;
  
 }
 .login>img{

  height: 40px;
 }
 .Account{

  margin-top: 5px;

 }
 span{
  font-size: 12px;
  color: #b50000;
 }
 .label1{
  margin-top: 5px;
  display: flex;
 }
 .signup{
   color: red;
   cursor: pointer;
   margin-left: 110px;
   display: flex;
   margin-top: -29px;
 }