body{
    
  
}

.cards{
    border:1px solid ;
    border-Color:red;
    height: 28rem;
    margin-left: 30px;
    margin-top: 20px;
    width: 20rem;
    margin-right: 30px;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.card-body{
    padding: 2rem 2rem !important;
}

.body_button{
    width: 15rem;
    margin-top: 1rem;
}

