.center {
  background-color: rgb(250, 217, 215);
  flex: 1;
  border-radius: 0.5px;
  height: 100vh;
  padding-left: 10px;
}

.center > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link > li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.link > li > span {
  font-size: 15px;
  color: black;
  margin-left: 10px;
}

.link > li:hover {
  background-color: rgba(255, 0, 0, 0.348);
}
