.register-page {
  
    /* background-color: #f3f6f8; */
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-box {
    margin-top: 1px;
    background-color: #ffffff2c;
    height: 175vh;
    width: 550px;
    margin-left: 50px;
    padding: 40px;
    border-radius: 8px;
    border: #b50000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-box h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    /* text-align: center; */
  }
  

  .form-group {
    margin-bottom: 10px;
    margin-left: 80px;
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  .form-group input,
  .form-group select {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 14px;
    padding: 8px;
    width: 100%;
  }
  
  .form-group select {
    appearance: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5'%3E%3Cpath fill='%23000000' d='M0 0l4 5 4-5z'/%3E%3C/svg%3E") no-repeat;
    background-position: right 8px center;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    outline: none;
    border-color: #b500;
    box-shadow: 0 0 0 2px rgba(0, 115, 177, 0.1);
  }
  
  .btn-primary {
    background-color: #b50000;
    border-color:  #b50000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
  }
  
  .btn-primary:hover {
    background-color: #b50000;
    border-color:  #b50000;
  }
  .login_register{
    display: flex;
    color: #b50000;
    cursor: pointer;
    margin-left: 150px;
  }
  .label{
    margin-top: 5px;
  }
  .my-icon{
    color:black;
    margin-left: 150px;
  }
  .login{
    color: red;
    cursor: pointer;
    margin-left: 130px;
    display: flex;
    margin-top: -29px;
  }

  .form-group #bloodGroup {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .form-group #bloodGroup:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  }